@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&family=Roboto+Slab:wght@100;400;700&display=swap');

/* 
  font-family: 'Merriweather', serif;
  font-family: 'Roboto Slab', serif;
*/

body {
    margin: 0;
    background-color: #f3f1f3;
}

/* Navigation */
nav {
  float: right;
}

.nav-title {
  font-family: 'Merriweather', serif;
  float: left;
  color: #000;
  font-size: 24px;
  margin-left: 25px;
  margin-top: 25px;
}

.nav-bar {
  font-family: 'Roboto Slab', serif;
  overflow: hidden;
  background-color: #8f9ca3;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav-bar a {
  float: left;
  display: block;
  margin: 0;
  color: #5a2d81;
  text-align: center;
  padding: 28px;
  text-decoration: none;
  font-size: 20px;
}

nav a.active {
  background-color: #f3f1f3;
  color: #5a2d81;
}

nav a.active a::before {
  content: '';
}

.nav-bar a:hover {
  background-color: #cecece;
  color: #5a2d81;
}

/* welcome setion */

.welcome-section  {
  height: 100vh;
  margin: 0;
  font-family: 'Roboto Slab', serif;
  background-color: #f3f1f3;
  color: #5a2d81;
  border-radius: 10px;
}

.msg-block {
  background-color: #8f9ca3;
  margin: 0;
  position: absolute;
  width: 60%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 5vw;
  border-radius: 20px;
  box-shadow: 0 0 7vw #5a2d81;
}

.welcome-msg {
  background-color: #f3f1f3;
  color: #5a2d81;
  margin: 0 ;
  padding: 2vh 5vw 2vh 5vw;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 3vw #000;
}

.welcome-logo {
  font-family: 'Merriweather', serif;
  background-color: #000;
  color: #f3f1f3;
  margin: 0 22%;
  padding: 2vh 3vw;
  text-align: center;
  box-shadow: 0 5px 10px #000;
}

.welcome-services {
  background-color: #5a2d81;
  color: #f3f1f3;
  margin: 0 4%;
  padding: 1vh 2vw 1vh 2vw;
  text-align: center;
  box-shadow: 0 1px 3vw #000;
}

/* projects section */

.project-section {
  background-color: #8f9ca3;
  color: #000;
  margin: 0 auto;
  text-align: center;
  padding: 6vw;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.section-title {
  background-color: #f3f1f3;
  color: #5a2d81;
  font-size: 34px;
  margin: 0 8% 1% 8%;
  border-radius: 10px;
  box-shadow: 0 0 2vw #030303;
}

.project-tile {
  background-color: #cecece;
  margin: 10%;
  padding: 20px 5px;  
  border-radius: 5px;
  box-shadow: 0 0 2vw #030303;
}

.project-img {
  width: 20vw;
}

.projects article:hover {
  background-color: #f3f1f3;
  color: #5a2d81;
  box-shadow: 0 0 2vw #5a2d81;
  cursor: pointer;
}

/* footer */

.footer-section {
  font-family: 'Merriweather', serif;
}


/* adjust based on screen-size: mobile */
@media only screen and (max-width: 600px) {
  .nav-bar a {
    font-size: 14px;
  }
  .nav-title {
    font-size: 18px;
    margin-left: 20px;
    margin-top: 26px;
  }
}
